<nav class="navbar navbar-default">
  <div class="col-xs-12">
    <span class="pull-left">
      <a href="#" class="">
        <img [src]="header" />
      </a>
    </span>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="#">Главный</a></li>
        <li><a href="#">Timetables</a></li>
        <li><a href="#">Edupage</a></li>
        <li><a href="#">Partners</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" appDropDown>
        <a class="dropdown-toggle" role="button"
          >Language<span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li><a role="button">Қазақша</a></li>
          <li><a role="button">Руский</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
