<div class="container-1">
  <div class="sm-container">
    <label>Обзор по роли пользователя:</label>
    <ul class="list-1">
      <li><img src="./../../../../assets/svgs/admin.svg" />Aдимн</li>
      <li><img src="./../../../../assets/svgs/admin.svg" />Учитель</li>
      <li><img src="./../../../../assets/svgs/admin.svg" />Ученик</li>
      <li><img src="./../../../../assets/svgs/admin.svg" />Родитель</li>
    </ul>
  </div>
  <div>
    <label>Обзор по функции:</label>
    <li class="list-1"><img src="./../../../../assets/svgs/admin.svg" />Вход</li>
      <li><img src="./../../../../assets/svgs/admin.svg" />Загрузка и установка программы</li>
      <li><img src="./../../../../assets/svgs/admin.svg" />Первые шаги</li>
      <li><img src="./../../../../assets/svgs/admin.svg" />Создать аккаунт</li>
  </div>
</div>
