<nav class="navbar navbar-default">
  <div class="col-xs-12">
    <span class="pull-left">
      <a href="#" class="">
        <img [src]="header" />
      </a>
    </span>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li><a role="button" (click)="scroll('main')">Главный</a></li>
        <li><a role="button" (click)="scroll('timetables')">Timetables</a></li>
      </ul>
    </div>
    <ul class="lang pull-right">
      <li class="dropdown" appDropDown>
        <a class="dropdown-toggle" role="button"
          >{{ language ? "Қазақша" : "Русcкий" }}<span class="caret"></span
        ></a>
        <ul class="dropdown-menu">
          <li><a role="button" (click)="onClick()">Қазақша</a></li>
          <li><a role="button" (click)="onClick()">Русcкий</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
