<div class="container-root">
  <div class="name"><span>Партнеры</span></div>
  <div class="container-body">
    <div><img src="../../assets/icons/item1.png" style="height: 50px" /></div>
    <div><img src="../../assets/icons/item2.png" style="height: 50px" /></div>
    <div><img src="../../assets/icons/item3.png" style="height: 50px" /></div>
    <div><img src="../../assets/icons/item4.png" style="height: 50px" /></div>
    <div><img src="../../assets/icons/item5.png" style="height: 50px" /></div>
  </div>
</div>
