<div id="timetables" class="primary">Timetables</div>
<div class="box-container">
  <div class="row">
    <div class="col-xs-12">
      <form (ngSubmit)="onAddItem(f)" #f="ngForm">
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              name="name"
              ngModel
              required
            />
          </div>
          <div class="col-sm-2 form-group">
            <label for="id">Amount</label>
            <input
              type="number"
              id="id"
              class="form-control"
              name="id"
              ngModel
              required
              pattern="^[1-9]+[0-9]*$"
            />
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button
                class="btn btn-success"
                type="submit"
                [disabled]="!f.valid"
              >
                Add
              </button>
              <button class="btn btn-danger" type="button" (click)="onDelete()">
                Delete
              </button>
              <button class="btn btn-primary" type="button" (click)="onClear()">
                Clear
              </button>
            </div>
          </div>
        </div>
      </form>
      <ul class="list-group">
        <a
          class="list-group-item"
          style="cursor: pointer"
          *ngFor="let employee of employees; let i = index"
          (click)="onEditItem(i)"
        >
          {{ employee.name }}) ({{ employee.id }})
        </a>
      </ul>
    </div>
  </div>

  <div class="box-1" style="padding-left: 200px">
    <h5>aSc Timetables</h5>
    <br />
    <p>
      aSc TimeTables — автоматическое составление расписания уроков. Программа
      составляет полное расписание, которое будет соответствовать всем вашим
      требованиям. Программа «aSc TimeTables» используется в более чем 150
      странах мира примерно в 100 тысяч школ, которая разрабатывается более 25
      лет. Это единственная программа, которая может удовлетворить потребности
      всех учебных заведений, независимо от типа, школы, колледжа или
      университета, и может составлять еженедельные и ежемесячные планы уроков
    </p>
    <p>
      Тот факт, что более 100 000 школ по всему миру предпочитают aSc
      Timetables, является объективным свидетельством того, что aSc Timetables
      не имеет себе равных в области планирования уроков или программ их
      проведения.
    </p>
  </div>
  <div class="box-2">
    <h5>Возможности aSc TimeTables:</h5>
    <br />
    <p>
      • Просто введите требования к расписанию и дайте программе создать и
      проверить более 5 миллионов вариантов. Она разработает оптимальное
      расписание, которое будет отвечать всем критериям и устроит и учителей, и
      учеников.
    </p>
    <p>
      Некоторые завучи считают, что компьютерная программа может отнять часть
      творческой работы, но пользователи aSc Timetables уверены: эту программа,
      которая помогает создавать хорошие расписания и сэкономить уйму времени
    </p>
    <p>
      Что-то изменилось или произошла ошибка ? Вам надо переделывать все
      расписание заново? Нет проблем. • Просто исправите данные, и даже не успев
      выпить чашку кофе, у Вас будет новое расписание.
    </p>
    <p>
      Когда Вы будете удовлетворены расписанием, можете распечатать его для
      каждого класса, каждого кабинета, учителя или даже отдельных учащихся. Вы
      можете изменить его внешний вид, шрифты, логотипы, экспорировать в pdf,
      Excel, или загрузить в Интернет.
    </p>
    <p>
      Вы можете разделить классы на группы, объединить группы разных классов,
      ввести четные и нечетные недели, субботу как рабочий день, необязательные
      предметы, смены… Программа имеет все эти возможности и многое другое. Она
      совершенствуется уже почти 20 лет и используется во многих странах мира,
      включая и русскоязычных.
    </p>
  </div>
  <div class="text-3">
    <h5>Бесплатное мобильное приложение и EDUPAGE</h5>
    <br />
    <p>
      aSc Timetables разработала бесплатное мобильное и веб-приложение под
      названием Edupage, чтобы преподаватели и студенты могли следить за
      расписанием своих курсов на своих мобильных телефонах.
    </p>
    <p>
      Edupage теперь стала системой управления школьным образованием номер 1 в
      Европе по запросами от пользователей, учебником, посещаемостью занятий,
      обменом сообщениями, домашними заданиями и отслеживанием оценок,
      отслеживанием платежей, временным назначением учителей, планированием
      обучения и, что наиболее важно, функцией электронного обучения.
    </p>
    <p>Вы можете найти более подробную информацию о Edupage ниже.</p>
  </div>
  <div class="text-4">
    <h5>О защите личных данных</h5>
    <br />
    <p>Генеральный регламент о защите персональных данных</p>
    <p>General Data Protection Regulation, GDPR</p>
    <p>
      Постановление Европейского Союза, с помощью которого Европейский
      парламент, Совет Европейского Союза и Европейская комиссия усиливают и
      унифицируют защиту персональных данных всех лиц в Европейском Союзе (ЕС).
      Постановление также направлено на экспорт данных из ЕС
    </p>
    <p>
      GDPR — важнейший законодательный документ, который существенно повышает
      уровень защиты персональных данных в ЕС и за его пределами.
    </p>
    <p>
      EduPage хранит данные в защищенных центрах обработки данных,
      сертифицированных согласно DIN ISO / IEC 27001.
    </p>
    <p>
      EduPage никогда не передает какие-либо введенные данные третьим лицам.
      Единственное исключение — экспорт, инициированный самой школой. Это
      происходит только по прямому запросу школы.
    </p>
  </div>
</div>
