.root-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
  height: 250px;
}

.container-body {
  display: flex;
  padding: 0 150px;
  justify-content: space-around;
  height: 60%;
}
.name-1 {
  text-align: center;
  height: 40%;
  justify-self: center;
  font-size: 40px;
  padding: 15px 0;
  font-weight: 500;
}
