
.primary-1{
  font-size: 24px;
  padding: 20px 100px;
  background-color: #07f;
  color: white;
  border-radius: 10px;
  border-color: #07f;
}
.box-3 {
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

.list-item {
  font-size: 24px;
  padding-left: 15px;
}
.box-4{
  text-align: center;
  font-size: 32px;
  margin: 40px;
}
li{
  display: flex;
}
.any{
  padding-top: 5px;
}
.button {
  transition-duration: 0.4s;
}

.primary-1:hover {
  background-color: #2b70ca;
  color: white;
}