
<div class="container">
    <div>
      <label>Обзор по роли пользователя:</label>
      <div class="list-1">
        <div role="button" class="items">
          <img src="./../../../../assets/svgs/admin.svg" /><span>Aдмин</span>
        </div>
        <div role="button" class="items">
          <img src="./../../../../assets/svgs/admin.svg" /><span>Учитель</span>
        </div>
        <div role="button" class="items">
          <img src="./../../../../assets/svgs/admin.svg" /><span>Ученик</span>
        </div>
        <div role="button" class="items">
          <img src="./../../../../assets/svgs/admin.svg" /><span>Родитель</span>
        </div>
      </div>
    </div>
    <div>
      <label>Обзор по функции:</label>
      <div class="list-1 item">
        <div role="button" class="items">
          <img src="./../../../../assets/svgs/admin.svg" /><span>Вход</span>
        </div>
        <div role="button" class="items">
          <img src="./../../../../assets/svgs/admin.svg" /><span
            >Загрузка и установка программы</span
          >
        </div>
        <div role="button" class="items">
          <img src="./../../../../assets/svgs/admin.svg" /><span
            >Первые шаги</span
          >
        </div>
        <div role="button" class="items">
          <img src="./../../../../assets/svgs/admin.svg" /><span
            >Создать аккаунт</span
          >
        </div>
      </div>
    </div>
  </div>
  