<div class="box-container" id="main">
  <div class="box-1">
    <img [src]="image" />
  </div>
  <div class="box-2">
    <ul class="form-list">
      <li>
       <div class="any"> <img src="../../assets/icons/check.png" /></div>
       <span class="list-item"> Автоматическое создание расписаний</span>
      </li>
      <li>
        <div class="any"><img src="../../assets/icons/check.png" /></div>
        <span class="list-item">
          Ручные настройки. Созданное программой расписание можно изменять и
          вручную
        </span>
      </li>
      <li>
        <div class="any"><img src="../../assets/icons/check.png" /></div>
        <span class="list-item">
          Проверка расписания. Алгоритм программы проверить расписание и сообщит
          о любых несоответствиях, не выполненных условиях
        </span>
      </li>
      <li>
        <div class="any"><img src="../../assets/icons/check.png" /></div><span class="list-item"
          >Простой ввод данных</span
        >
      </li>
      <li>
        <div class="any"><img src="../../assets/icons/check.png" /></div>
        <span class="list-item">
          Вы можете разделить классы на группы, объединить группы разных
          классов, ввести четные и нечетные недели, субботу как рабочий день,
          необязательные предметы, смены... Программа имеет все эти возможности
          и многое другое.
        </span>
      </li>
    </ul>
  </div>
  <div>
    <div class="box-4">
      <strong
        >aSc Timetables - это программа для составления школьного расписания для
        начальных и средних школ с уникальным автоматическим генератором
        расписания.</strong
      >
    </div>
    <div class="box-3">
      <div>
        <button class="primary-1" type="submit" (click)="onClick()">Поддержка Timetables</button>
      </div>
      <div>
        <button class="primary-1">Поддержка Edupage</button>
      </div>
    </div>
  </div>
</div>
