<div class="ground" id="contacts">
  <div class="groud-1">
    <div class="subground" style="font-size: 16px">
      <img src="../../../assets/svgs/map.svg" />
      <span>
        Қазақстан, Нұр-Сұлтан қ.,<br />
        Мәңгілік ел даңғылы, с4.6
      </span>
    </div>
    <div class="subground">
      <img src="../../../assets/icons/info.png" /> <span>@r4.education</span>
    </div>
  </div>
  <div class="ground-2">
    <div class="subground">
      <img src="../../../assets/icons/facebook.png" /><span>r4.education</span>
    </div>
    <div class="subground">
      <img src="../../../assets/icons/instsgram.png" /><span>r4.education</span>
    </div>
  </div>
  <div class="ground-3">
    <div class="subground">
      <img src="../../../assets/icons/whats.png" /><span
        >+ 7 708 4 252 252</span
      >
    </div>
    <div class="subground">
      <img src="../../../assets/icons/phone.png" /><span>+7(7172) 256 262</span>
    </div>
  </div>
</div>
