<div class="row">
  <div class="bg-primary">Интерактивная образовательная система Edupage</div>
  <div>
    <br />
    <div class="col-sm-offset-1">
      <div>
        <img [src]="imgEdupage" style="height: 700px" />
      </div>
      <div class="text1">
        <h5>Что такое Edupage?</h5>
        <br>
        <p>
          EduPage — это облачная система управления школой, полностью
          интегрированная с нашей ведущей в мире программой составления
          расписании aSc Timetables. Хорошее расписание учебного заведения имеет
          решающее значение для большинства задач — от ввода учебного плана,
          отслеживания посещаемости, резерваций кабинетов, задания домашних
          работ до эл. обучения. Поскольку расписание меняется ежедневно,
          жизненно важна плавная ее интеграция с другими процессами в школе.
          EduPage предоставляет множество функций, но вы можете использовать
          только некоторые из них, но истинная сила синергии проявляется, когда
          вы начинаете использовать больше возможностей EduPage, или, в идеале,
          все.
        </p>
        <br>
        <br>
        <h5>Мобильное приложение</h5>
        <br>
        <p>
          Мобильное приложение EduPage позволяет эффективно делать много задач.
          Введите вашу информацию в мобильном приложении один раз — ее
          автоматически получат все лица, которым она адресована.
        </p>
        <br>
        <br>
        <h5>Замены</h5>
        <br>
        <p>
          Управляйте заменами учителей в интернете. После того, как расписание
          было создано, вам просто нужно ввести отсутствующих. EduPage
          порекомендует лучшего преподавателя для замены, но вы можете выбрать и
          другого. Помимо публикации этих замен на веб-сайте и мобильных
          телефонах, все изменения автоматически заносятся и в журналы классов и
          календари.
        </p>
        <p>
          Сделайте школьное расписание доступным для учителей, учеников и
          родителей. EduPage уведомит их о ежедневных изменениях в заменах,
          которые их затрагивают лично.
        </p>
      </div>
    </div>
    <br>
    <div class="container">
      <h5>Классный журнал</h5>
      <br>
      <p>
        Журнал классов в EduPage отражает изменения, внесенные в расписание,
        замены и события. Вы просто выбираете тему урока из своего учебного
        плана и проверяете посещаемость учеников. Скучная административная
        работа превратится в полезную функцию. Родители будут лучше осведомлены
        о том, чему научились их дети, посещают ли они уроки. Родители могут
        помочь детям с более сложными темами.
      </p>
      <br>
      <br>
      <h5>Учебные планы</h5>
      <br>
      <p>
        Создайте свой план обучения в начале учебного года. Вы не будет нужно
        перед каждым уроком записывать тему в классный журнал. Вы просто сможете
        выбрать ее из своего плана. В плане вы можете увидеть, какие части
        учебного плана уже были пройдены, а также сколько времени было отведено.
      </p>
      <p>
        Учитель может подготовить заметки, презентации, изображения,
        дополнительные вопросы к темам своего учебного плана. Связывание плана,
        стандартов обучения и заготовок поможет вам систематизировать материалы
        в течение всего учебного года.
      </p>
      <br>
      <br>
      <h5>Мощный инструмент эл. обучения</h5>
      <br>
      <p>
        EduPage позволяет быстро подготовить презентацию, тест или домашнюю
        работу из материалов, которые подготовили вы или другие учителя. Вы
        можете распечатать тест или ученики могут решить тест прямо в интернете,
        а система автоматически оценит их результаты.
      </p>
      <p>
        Показывайте свои учебные материалы на интерактивной доске или через
        проектор. Ученики могут подключиться к презентации через свой смартфон и
        ответить на вопросы презентации. EduPage оценивает ответы и сохраняет их
        в результатах.
      </p>
      <br>
      <br>
      <h5>Результаты</h5>
      <br>
      <p>
        Edupage оценивает онлайн-тесты автоматически. Edupage также обеспечивает
        эффективный инструмент для оценки печатных тестов. Подробная статистика
        покажет вам, как ученики осваивают темы уроков, и вы также можете
        отслеживать преуспеваемость отдельных учеников.
      </p>
      <br>
      <br>
      <h5>Отслеживание посещаемости</h5>
      <br>
      <p>
        Родители хотят получать информацию о посещаемости своих детей. Сообщите
        им о прибытии или отбытии ученика из школы. Упростите свою работу —
        получите сводку пропущенных учениками уроков.
      </p>
      <br>
      <br>
      <h5>Домашние задания</h5>
      <br>
      <p>
        Учителя назначают домашние работы, ученики (и их родители) немедленно
        информируются через уведомление в мобильное приложение. Учитель может
        назначить ученикам сделать домашнюю работу прямо в интернете — тогда
        система автоматически оценит ответы учеников. Учитель не должен тратить
        драгоценное время на оценку домашних работ.
      </p>
      <br>
      <br>
      <h5>Обзор администратора</h5>
      <br>
      <p>
        EduPage — единое место для обзора ежедневной жизни школы. EduPage
        выделяет области с потенциальными проблемами. Были ли ученики назначены
        в правильные группы? Выставляют ли все учителя оценки ученикам?
        Придерживаются ли учителя своих учебных планов? EduPage указывает на
        критические моменты в работе вашего персонала, чтобы вы могли помочь им
        найти решения и добиться успеха. Управляйте своей школой на основе
        точных и актуальных данных!
      </p>
      <br>
      <br>
      <h5>Веб-страница школы</h5>
      <br>
      <p>
        Веб-страницы в EduPage специально разработаны для школ. Когда вы
        загружаете новости или фотографии в фотогалерею, все ученики получат
        уведомления. Веб-страница содержит специальные модули, которые связаны с
        системой EduPage. Легко публиковать предстоящие события, расписание,
        формы заявлении, меню столовой. Для создания веб-страницы
        предварительный опыт не требуется. Простой в использовании мастер
        проведет вас через нужные настройки и поможет выбрать дизайн.
      </p>
    </div>
  </div>
</div>
